.container{
	max-width:1400px;
	margin: 0 auto;
}

section#graph-container{
  margin: 0 auto;;
}


.username::before {
  content: "@";
}

.tweet-circle:hover{
  stroke-width:4px;
  stroke: yellow;
}

.selected{
  fill: red;
}

table#tweet-table tbody{
  display:block;
  overflow:auto;
  height:400px;
  width:100%;
}