body{
	/*background-color:#1A62D4;*/
}

.container{
	max-width:1000px;
	margin: 0 auto;
}

/*.tweet-circle{
	fill: steelblue;
}
*/
.tweet-circle:hover{
  stroke-width:4px;
  stroke: yellow;
}

.selected{
  fill: red;
}

div.tooltip {
  position: absolute;
  text-align: center;
  height: 28px;
  padding: 5px;
  font: 12px sans-serif;
  background: white;
  border: 1px solid #444;
  border-radius: 8px;
}
