body{
	/*background-color:#1A62D4;*/
}

.container{
	max-width:1200px;
	margin: 0 auto;
}


div#currentTweet{
  min-height:75px;
}

div#clickedTweet{
  min-height:175px;
}

.username::before {
  content: "@";
}

/*.tweet-circle{
	fill: steelblue;
}
*/
.tweet-circle:hover{
  stroke-width:4px;
  stroke: yellow;
}

.selected{
  fill: red;
}

div.tooltip {
  position: absolute;
  text-align: center;
  height: 28px;
  padding: 5px;
  font: 12px sans-serif;
  background: white;
  border: 1px solid #444;
  border-radius: 8px;
}

/*table#tweet-table tbody{
  height:300px;
  overflow-y:scroll;
}
*/

table#tweet-table tbody{
  display:block;
  overflow:auto;
  height:400px;
  width:100%;
}